In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/heart-health-stats-dataset/Heart_health.csv

# EDA

In [2]:
df = pd.read_csv('/kaggle/input/heart-health-stats-dataset/Heart_health.csv')
df.head(3)

,ID,Name,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,1,John Doe,45,Male,175,80,120/80,200,90,No,3,0
1,2,Jane Smith,35,Female,160,65,110/70,180,80,No,2,0
2,3,Michael Johnson,55,Male,180,85,130/85,220,95,Yes,4,1

In [3]:
# Remove non-essential columns (patient names and ID)
df = df.drop(columns=['ID', 'Name'])
df.head(3)

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,45,Male,175,80,120/80,200,90,No,3,0
1,35,Female,160,65,110/70,180,80,No,2,0
2,55,Male,180,85,130/85,220,95,Yes,4,1

In [4]:
print('The shape of the table: {}'.format(df.shape))
print('The columns and their types are \n {}'.format(df.dtypes))

The shape of the table: (724, 10)
The columns and their types are
 Age                      int64
Gender                  object
Height(cm)               int64
Weight(kg)               int64
Blood Pressure(mmHg)    object
Cholesterol(mg/dL)       int64
Glucose(mg/dL)           int64
Smoker                  object
Exercise(hours/week)     int64
Heart Attack             int64
dtype: object

In [5]:
df.describe()

,Age,Height(cm),Weight(kg),Cholesterol(mg/dL),Glucose(mg/dL),Exercise(hours/week),Heart Attack
count,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000
mean,44.842541,171.161602,75.610497,206.022099,92.179558,2.770718,0.599448
std,8.162429,6.242018,6.368595,11.224704,4.662712,0.934907,0.490349
min,30.000000,155.000000,60.000000,170.000000,75.000000,1.000000,0.000000
25%,38.000000,166.000000,71.000000,195.000000,88.000000,2.000000,0.000000
50%,44.000000,170.000000,75.000000,210.000000,92.000000,3.000000,1.000000
75%,53.000000,177.000000,81.000000,215.000000,96.000000,4.000000,1.000000
max,60.000000,183.000000,89.000000,230.000000,100.000000,4.000000,1.000000